
Tuples

    > Introduction to Tuples
    > Creating Tuples
    > Accessing Tuple Elements
    > Tuple Operations
    > Immutable Nature of Tuples
    > Tuple Methods
    > Packing and Unpacking Tuples
    > Nested Tuples
    > Practical Examples and Common Errors

Introduction to Tuples

Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [13]:

tpl = tuple()
print(type(tpl))
lst = list
print(type(lst))

<class 'tuple'>
<class 'list'>

In [14]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)

(1, 2, 3, 4, 5, 6)

In [30]:
list((1,2,3,4,5,6))

TypeError: 'list' object is not callable

In [31]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [32]:
## accessing tuple elements
numbers

(1, 2, 3, 4, 5, 6)

In [33]:
numbers[0] ## first element

1

In [35]:
numbers[-1] ## last element

6

In [39]:
numbers[1:4]

(2, 3, 4)

In [42]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [45]:
## tuple operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [49]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [52]:
## Immutable Nature of Tuples
## Tuples are immutable, which means that once a tuple is created, it cannot be modified. This is in contrast to lists, which are mutable and can be modified after they are created.

# for list
lst = [1,2,3,4,5]
lst[0]="Bibash"
print(lst)

# for tuple
tpl = (1,2,3,4,5)
tpl[0]="Bibash"
# This will raise an error because tuples are immutable

['Bibash', 2, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [54]:
print(numbers)

(1, 2, 3, 4, 5, 6)
1

In [55]:
## tuple method
print(numbers.count(1))
print(numbers.index(3))

1
2

In [56]:
## packing and unpacking tuple

## packing
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [59]:
## unpacking tuple

a,b,c=packed_tuple
print(a) 
print(b)
print(c)

1
bibash
90

In [62]:
## Unpacking with * 

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first) 
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [66]:
## Nested tuple

# Nested List
lst = [[1,2,3,4],[6,7,8,9],[1,"bibash",3,14,90]]
print(lst[0][1]) 
print(lst[0][0:3])

2
[1, 2, 3]

In [69]:


lst = [[1,2,3,4],[6,7,8,9],(1,"bibash",3.14,90)]
print(lst[0][1]) 
print(lst[2][0:3])

2
(1, 'bibash', 3.14)

In [80]:
## nested tuple
nested_tuple = ((1,2,3),("a","b","c"),(True,False))

 ## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [83]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end = ' ')
    print()

1 2 3
a b c
True False


Conclusion

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.