# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [7]:
integer_tuple = tuple(range(1,11))
print(integer_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [12]:
print(integer_tuple[0]) ## first
print(integer_tuple[-1]) ## last
print(integer_tuple[len(integer_tuple)//2]) ## middle

1
10
6

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [19]:
print(integer_tuple[:3])
print(integer_tuple[2:6])
print(integer_tuple[-3:])

(1, 2, 3)
(3, 4, 5, 6)
(8, 9, 10)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [26]:
matrix = ((1,2,3),(4,5,6),(7,8,9))
for row in matrix:
  print(row)
  
print(matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [30]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [35]:
tpl=(1,2,2,3,3,4,4,4,4,5)
print(tpl.count(4))
print(tpl.index(2))

4
1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [39]:
tpl=(1,2,3,4)
a,b,c,d = tpl
print(a)
print(b)
print(c)
print(d)

1
2
3
4

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [44]:
tuple([1,2,3,4,5])

TypeError: 'set' object is not callable

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [45]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [46]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

TypeError: 'set' object is not callable

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [49]:
charac_tuples = ('b','i','b','a','s')
single_string = ''.join(charac_tuples)
print(single_string)

bibas

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [51]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

<class 'dict'>

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [57]:

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [61]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [65]:
# creating a function
def min_max_sum(tpl):
    minimum = min(tpl)
    maximum = max(tpl)
    addition = sum(tpl)
    return (minimum,maximum,addition)

# calling function
result = min_max_sum((1,2,3))


print(f"minimum:",result[0])
print(f"maximum:",result[1])
print(f"sum:",result[2])

minimum: 1
maximum: 3
sum: 6